script.
    const query = window.location.search;
    const params = new URLSearchParams(query);
.item: .ui.input.text#search-node

    input(type='text' placeholder="Regulator" value=regulatorInput)#regulator-search.textSearch
    input(type='text' placeholder="Target" value=targetInput)#target-search.textSearch
    input(type='image', src='/img/x.png', alt='Reset')#remove-highlight
    script.
        const regulatorInput = params.get('regulatorinput') || undefined
        const targetInput = params.get('targetinput') || undefined
        $('#target-search').val(targetInput);
        $('#regulator-search').val(regulatorInput);
.item
    label Filter unregulated Nodes
    br
    .ui.input.buttons#group-hide-unregulated
        button(name='show').ui.button#show Show
        button(name='hide').ui.button#hide Hide
        button(name='only').ui.button#only Show Only
        script.
            const unregulatedState = params.get('unregulatedstate')
            if (unregulatedState) {
                $(`#group-hide-unregulated #${unregulatedState}`).addClass('blue');
            } else {
                $('#group-hide-unregulated #show').addClass('blue');
            }

.item
    label Filter self-regulated Nodes
    br
    .ui.input.buttons#group-self-regulated
        button(name='show').ui.button#show Show
        button(name='hide').ui.button#hide Hide
        button(name='only').ui.button#only Show Only
        script.
            const selfRegulatedState = params.get('selfregulatedstate')
            if (selfRegulatedState) {
                $(`#group-self-regulated #${selfRegulatedState}`).addClass('blue');
            } else {
                $('#group-self-regulated #show').addClass('blue');
            }
.item: .ui.toggle.checkbox.sidebarinput#toggle-arrows
    input(type="checkbox")
    label Show Regulation Direction
script.
    $(".checkbox").checkbox();
    $("#regulator-search").text();
    if (window.location.search && window.location.search.includes('directionalarrows=true')) {
        $('#toggle-arrows').checkbox('check');
    }