#goterm-legend
    - const goTerms = {"catalytic activity":"#8dd3c7","binding":"#bebada","transporter activity":"#fb8072","molecular function regulator":"#80b1d3","transcription regulator activity": "#fdb462","molecular carrier activity":"#b3de69","molecular transducer activity":"#fccde5","cargo receptor activity":"#d9d9d9","translation regulator activity":"#bc80bd","protein tag":                      "#ccebc5","antioxidant activity":"#a6cee3","structural molecule activity":"#1f78b4","molecular_function":"#b2df8a","hijacked molecular function":"#33a02c", "go term unknown": "#666666"};
    each colour, key in goTerms
        .ui.icon.buttons(id=`${key.replace(/\s/g, "")}`, style={"display": "none"})
            button.ui.button#search
                i(style={"color":colour}).square.icon
                span #{key}
            button(style = {"display": "none"}).ui.button#clear: i.delete.icon                              
    script.
        const goTerms = {"catalytic activity":"#8dd3c7","binding":"#bebada","transporter activity":"#fb8072","molecular function regulator":"#80b1d3","transcription regulator activity": "#fdb462","molecular carrier activity":"#b3de69","molecular transducer activity":"#fccde5","cargo receptor activity":"#d9d9d9","translation regulator activity":"#bc80bd","protein tag":                      "#ccebc5","antioxidant activity":"#a6cee3","structural molecule activity":"#1f78b4","molecular_function":"#b2df8a","hijacked molecular function":"#33a02c", "go term unknown": "#666666"};
        for (let key in goTerms){
            let xBtn = $(`#goterm-legend #${key.replace(/\s/g, "")} #clear`);
            let searchBtn = $(`#goterm-legend #${key.replace(/\s/g, "")} #search`);
            //Hide the goterm button and set its event handler
            searchBtn.click(function(e){
                xBtn.click();
                e.stopPropagation();
                xBtn.show();
            });

            //Set the clear button event and hide the button
            xBtn.click(function(e) {
                e.stopPropagation();
                xBtn.hide();
                let btns = $("#goterm-legend .ui.buttons").children(".ui.button:visible").has(".delete.icon").each((index, val) => {
                    val.click();
                });
            });
        }