extends ../../table
block content
    .ui.four.steps
        a.step.active(href="/regprecise/genomes")
            .content
                .title Genome
                .description Select a Genome
        .step.disabled
            .content
                .title Regulon
                .description Select a Regulon
        .step.disabled
            .content
                .title Pathway Analysis
                .description Pathway of selected Transcription Factor
        .step.disabled
            .content
                .title Regulog Graph
                .description Network of selected Regulon
    table.ui.single.line.compact.sortable.selectable.table
        .item: .ui.input.textfull#search-node
            input(type='text' id="searchbar" placeholder="Search Genome Name...")
        thead
            tr
                th RegPrecise ID
                th TaxID
                th Name
                th RNA Regulons
                th RNA Sites
                th TF Regulons
                th TF Sites  
        tbody
            each genome in genomes
                tr(onclick=`window.location="/regprecise/regulons?genomeId=${genome.genomeId}"`).content2
                    td= genome.genomeId
                    td= genome.taxonomyId
                    td.genomeName= genome.name 
                    td= genome.rnaRegulonCount
                    td= genome.rnaSiteCount
                    td= genome.tfRegulonCount
                    td= genome.tfSiteCount
        script.
            function filterText() {
                let rex = $('#search-node #searchbar').val();
                if (rex == "") { 
                    clearFilter() 
                } else {
                    $('.content2').hide();
                    $('.content2').filter(function () {
                        return $(this).children('.genomeName').text().toLowerCase().indexOf(rex.toLowerCase()) != -1;
                    }).show();
                }
            }
            function clearFilter() {
                $('.content2').show();
            }
            $('#search-node #searchbar').bind('input', function(){
                filterText();
            })