extends ../../table

append scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css")
    link(rel="stylesheet" href="/css/wagon-wheels.css")

    script(src="/js/regprecise/regulon-selection/network.js" type="module")

    script.
        network = !{JSON.stringify(network)};

block content
    .ui.four.steps
        a.step.completed(href="/regprecise/genomes")
            .content
                .title= genome.name
                .description Selected Genome
        a.step.active(href=`/regprecise/regulons?genomeId=${genome.genomeId}`)
            .content
                .title Regulon
                .description Select a Regulon
        a.step.disabled(id='pathway')
            .content
                .title Pathway Analysis
                .description Pathway of selected Transcription Factor
        a.step.disabled(id='regulogGraph')
            .content
                .title Regulog Graph
                .description Network of selected Regulon
    #selected-regulons.ui.fluid.label
        label.ui.label#selected-label No Regulons Selected. Select any number of Regulons to view the Pathway Analysis, or select a single Regulon to view the related Regulog Graph. Click the links above to view the corresponding page
        .right.floated.detail(style={"float": "right"}): a.ui.red.label#showModalButton Deselect All
        script.
            $("#showModalButton").hide();
    .ui.fluid.action.input
        input(type='text')#export-view-input
        .ui.right.labeled.icon.button#export-view-button
            i.bookmark.icon
            span Save view
    #graph-or-table
        .ui.pointing.two.item.secondary.menu
            a.item(data-tab="regulator-graph") Regulator Graph
            a.item(data-tab="regulon-table") Regulon Table
        .ui.tab(data-tab="regulator-graph")
            #directed-graph.ui.internally.celled.grid
                .four.wide.column#header
                    .ui.stackable.secondary.sidebar
                    sidebar.toggle()
                        include ../../includes/global-filters
                .twelve.wide.column#body: .ui.fluid.card.genome: .ui.basic.segment.main-graph
                    #dimmer.ui.inverted.dimmer
                        .ui.indeterminate.large.text.loader Loading Graph
                    include ../../includes/go-term-filter

                    #graph
                    .ui.hidden.message#noData No nodes within graph match selected filter options
        .ui.tab(data-tab="regulon-table")#table
            table.ui.single.line.compact.sortable.selectable.table#regulonTable
                thead
                    tr
                        th Regulog ID
                        th Regulon ID
                        th Regulation Type
                        th Regulator Family
                        th Regulator Name
                        th Pathway
                tbody
                    each regulon in regulons
                        tr(id=regulon.regulatorName.replace(/[|&;$%@"<>()+,\\\/]/g, "").toLowerCase())
                            td= regulon.regulogId
                            td= regulon.regulonId
                            td= regulon.regulationType
                            td= regulon.regulatorFamily
                            td= regulon.regulatorName
                            td= regulon.effector

    script.
        $("#graph-or-table .menu a.item").tab("change tab", "regulator-graph");
    .ui.tiny.modal#clearModal
        .ui.header
            div Clear Selected Nodes
        .content: p Would you like to clear all selected nodes?
        .actions
            .ui.positive.right.labeled.icon.button#clearButton
                div Yes
                i.checkmark.icon
            .ui.negative.button(onclick='$("#clearModal").modal("hide")'): div No
    .ui.tiny.modal#invalidModal
        .ui.header
            div Invalid Filter Combination
        .content: p You cannot select the 'Show only self-regulated TFs' and 'Show only unregulated TFs' filter options at the same time. Your filter options have been reset.
        .actions
            .ui.negative.right.icon.button#ackButton
                div Acknowledge
