extends layout

block content
    .ui.basic.large.segment
        .ui.header Introduction
        .text
            | TRNDiff is a node.js app which exists to support visual comparison of transcriptional
            | relationships across dozens or even hundreds of organisms. We use a simple, compact
            | 'wagon wheel' representation of the Transcriptional Regulatory Network (TRN), centred
            | on a single Transcription Factor (TF). Here the wagon wheel hub is the TF, and the
            | possible target genes (TGs) appear as nodes on the wheel rim. A regulatory
            | relationship is shown by a spoke between the hub and the node. To view the relationships
            | between multiple Transcription Factors and target genes, the Pathway Analysis page allows
            | a user to visualise multiple regulons and compare the same regulon patterns across multiple
            | genomes.

    .ui.basic.large.segment
        .ui.header Quick Start
        .ui.four.stackable.cards
            .blue.card: .content
                .ui.small.centered.header Step 1: Choose a data source
                .text
                    | There are two options:
                    br
                    ul.ui.ordered.list(style="margin-left: 35px")
                        li.item RegPrecise: 
                        button#regpreciseButton.ui.blue.button Browse the <b>RegPrecise</b> database by <b>Genome</b>
                        script.
                            document.getElementById("regpreciseButton").onclick = function () {
                                location.href = "/regprecise/genomes";
                            } 
                        li.item RegulonDB:
                        button#regulondbButton.ui.blue.button Browse the <b>RegulonDB</b> database by <b>regulon</b>
                        script.
                            document.getElementById("regulondbButton").onclick = function () {
                                location.href = "/regulondb/regulonnetworkview";
                            }
                        li.item Local File:
                        button.ui.blue.button(onclick="document.getElementById('fileInput').click();") Upload local data
            .blue.card: .content
                .ui.small.centered.header Step 2: Select a Regulon
                .text
                    | Applicable to the RegPrecise database only. Follow the substeps to drill down
                    | the collection for browsing.
                    br
                    ul.ui.ordered.list(style="margin-left: 35px")
                        li.item <b>Select Genome</b> from the table
                        li.item <b>Select Regulon</b> for the chosen genome
                        li.item <b>View Regulog</b> will show the 'wagon wheels'
            .blue.card: .content
                .ui.small.centered.header Step 3: Display a Network Pathway Graph
                .text
                    | View a detailed regulatory pathway graph for the regulons selected.
                    | Compare the pathway across several mutual genomes.
                    br
                    ul.ui.ordered.list(style="margin-left: 35px")
                        li.item <b>Select Regulon/s</b> from the chosen genome
                        li.item <b>Select Pathway Analysis</b> from the workflow headers to display the network pathway
            .card: .content
                .ui.small.centered.header Additional Features
                .text
                    | There are several additional functions available within TRNDiff:
                    br
                    ul.ui.list(style="margin-left: 35px")
                        li.item Highlight and filter datasets by functional GO terms;
                        li.item Compare cross-dataset genomes using binary logic;
                        li.item Regulog clustering

    .ui.basic.large.segment
        .ui.header About RegPrecise
        .text
            | RegPrecise [
            a(href="http://regprecise.lbl.gov/RegPrecise/") http://regprecise.lbl.gov/RegPrecise/
            | ] is a repository of high-quality reference data which captures the regulatory
            | relationships between genes in 390 prokaryote genomes. The database contains manually
            | curated details of genes, transcription factors and transcription factor binding
            | sites which have been obtained by careful comparative genomic analysis,
            | experimentation and literature review as outlined in the paper:

            .ui.message
                | Pavel S. Novichkov, Olga N. Laikova, Elena S. Novichkova, Mikhail S. Gelfand,
                | Adam P. Arkin, Inna Dubchak, and Dmitry A. Rodionov (2010) 
                a(href="http://www.ncbi.nlm.nih.gov/pubmed/19884135")
                    | RegPrecise: a database of curated genomic inferences of transcriptional
                    | regulatory interactions in prokaryotes. 
                | Nucleic Acids Res. 2010 January; 38(Database issue): D111–D118.
            
            | TRNDiff is intended to provide an easy way to browse the RegPrecise database, locate
            | a regulog of interest, and view the regulons belonging to the regulog. Any regulog
            | can be saved to the desktop in CSV format, and these files can be edited and then
            | reloaded into the program to view the results.
            br
            br
            | Future versions of this application will provide further integration of TRNDiff and
            | RegPrecise with standard tools such as NCBI BLAST to allow users to execute more powerful workflows.

    .ui.basic.large.segment
        .ui.header Contact us
        .text
            | Please direct any enquiries to the project leader, James Hogan, at 
            a(href="mailto:j.hogan@qut.edu.au") j.hogan@qut.edu.au