doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

        //- Semantic UI
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js")
        link(link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css")

        script(src="/js/regprecise/common.js")
        link(rel="stylesheet" href="/css/global.css")

        block scripts

        title TRNDiff Regulon Explorer
    body
        include includes/header
        block content
        
        #page-dimmer
            .ui.inverted.page.dimmer
                .ui.text.loader Loading