body {
    padding: 15px;
}

.ui.steps {
    text-align: center;
}

.ui.steps .step {
    padding: 10px !important;
}

#noData {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Class for popups that I took from the older TRNDiff */
.ChooserPopup {
    position: absolute;
    /*min-width: 200px;*/
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display:block;
    z-index:15;
	background: rgb(230,230,230);
	color: rgb(64,64,64);
	margin: 0px 2pt 0px 20px;
	padding: 4px 10px 4px 10px;
	border-radius: 4px;
}

.main-graph.ui.segment{
    margin-bottom: 0rem;
}

.sidebarinput {
    padding-top: 8%;
}
.genomeFilter{
    height: 40px;
    visibility: hidden;
}

#table {
    height: 100%;
}
.genomeSection{
    height: 643.85px;
    margin: 0px;
    padding: 5px;
    margin-top: 0;
}

.genomeGraph{
    height: 500px;
}

.side-bar-tab{
    margin: 0px;
    padding: 5px;
    padding-top: 0px;
}

.ui.input.text{
    width: 42%;
}

.ui.input.textfull{
    width: 100%;
}

.cancel-button{
    float: right;
    width: 10%;
    text-align: center;
    height: 20px;
    background-color: #ff0000;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    text-align: center; 
    text-decoration: none;
    opacity: 0.6;
}

#comparison-graph{
    height: 500px;
}