extends ../layout
block scripts
    script.
        network = !{JSON.stringify(network)};

    script(src="/js/regulondb/pathway-analysis/pathway.js" type="module")

    link(rel="stylesheet" href="/css/wagon-wheels.css")
    script(src="https://hammerjs.github.io/dist/hammer.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js")

block content
    .ui.three.steps
        div.step.completed()
            .content
                .title= 'Escherichia coli K-12'
                .desciption RegulonDB
        a.step.completed(href='/regulondb/regulonnetworkview')
            .content
                .title= network['selected-regulons'][0].regulatorName
                .description Selected Regulon
        a.step.active#pathway
            .content
                .title Pathway Analysis
                .description Pathway of selected Transcription Factor
    .ui.fluid.action.input
        input(type='text')#export-view-input
        .ui.right.labeled.icon.button#export-view-button
            i.bookmark.icon
            span Save view
    .ui.basic.segment
        #pathway-graph.ui.internally.celled.grid
            #header.four.wide.column
                .ui.stackable.secondary.sidebar
                sidebar.toggle()
                    include ../includes/global-filters
                    .item: .ui.toggle.checkbox.sidebarinput#remove-pathways
                        input(type="checkbox")
                        label Remove Pathways
                    script.
                        $("#pathway-graph #header #remove-pathways.checkbox").checkbox();
                        if (window.location.search && window.location.search.includes('removepathways=true')) {
                            $('#remove-pathways').checkbox('check');
                        }
                    if network.effects && network.effects.length > 1
                        .item: .sidebarinput
                            select(multiple="").ui.fluid.search.dropdown#regulatory-effect
                                option(value="") Show only selected Regulatory Effects
                                each effect in network.effects
                                    option(value=option, id=effect) #{effect}
                    if network.evidenceCodes && network.evidenceCodes.length > 1
                        .item: .sidebarinput
                            select(multiple="").ui.fluid.search.dropdown#evidence-values
                                option(value="") Show only selected Evidence Values
                                each code in network.evidenceCodes
                                    option(value=code, id=effect) #{code}
                    if network['repgrecise-genomes'] && network['repgrecise-genomes'].length > 0
                        .item: .sidebarinput#number-of-genomes
                            select(multiple="").ui.fluid.search.dropdown#genomes-selected
                                option(value="") Select genomes to compare from regprecise
                                each genome in network['repgrecise-genomes']
                                    option(value=genome.genomeId) #{genome.genomeName}
                    .item: .sidebarinput#binary-compare
                        .menu: .ui.fluid.dropdown#compare-dropdown Binary Comparison
                            i.dropdown.icon
                            .fluid.menu
                                .fluid.item#btn-compare-and AND
                                .fluid.item#btn-compare-or OR
                                .fluid.item#btn-compare-xor XOR
                    script.
                        $("#pathway-graph #header #compare-dropdown").dropdown().hide();
            .twelve.wide.column: .ui.fluid.card.genome(id='regulonDbGraph'): .ui.basic.segment.main-graph
                - var  pathwayLabel = network['selected-regulons'].map(sr => sr.regulatorName).join('<i class="long arrow alternate right icon"></i>')
                #pathway-label.ui.bottom.left.attached.label !{pathwayLabel}
                include ../includes/go-term-filter
                #body
                #dimmer.ui.inverted.dimmer
                    .ui.indeterminate.large.text.loader Loading Graph
    #alternate-genomes.ui.two.cards
    #comparison-modal.ui.fullscreen.modal
        i.close.icon
        .header 
            span Binary Comparison: 
            span#type
        .content
            #comparison-graph
            #comparison-dimmer.ui.inverted.dimmer
                .ui.indeterminate.large.text.loader Loading Graph
    .ui.tiny.modal#showLegendModal
        .ui.header
            div Icon Legend
        .content: p <b>Regulator</b>
            p These nodes represent the regulator gene controlling the expression of the target genes in the regulon. Click a regulator to view more detailed information.
            img.ui.tiny.centered.image(src='/img/Regulon.png')
        .content: p <b>Gene</b>
            p These nodes represent the target genes being controlled by the regulator in the regulon. Click a gene to view more detailed information.
            img.ui.tiny.centered.image(src='/img/gene.png')
        .content: p <b>Regulation Direction</b>
            p Arrows represent the direction of transcriptional regulation. You can toggle directional arrows using the slider in the left pane.
            img.ui.tiny.centered.image(src='/img/Arrow.png')
        .content: p <b>Explore TF Pathway</b>
            p This option allows you to expand the current graph to include any genes being regulated by the selected regulator.
            img.ui.small.centered.image(src='/img/explore-icon.png')