extends ../table

append scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css")
    link(rel="stylesheet" href="/css/wagon-wheels.css")
    script(src="/js/regulondb/regulon-selection/network.js" type="module")

block content
    .ui.three.steps
        div.step.completed()
            .content
                .title= 'Escherichia coli K-12'
                .desciption RegulonDB
        a.step.active(href='/regulondb/regulonnetworkview')
            .content
                .title Regulon
                .description Select a Regulon
        a.step.disabled(id='pathway')
            .content
                .title Pathway Analysis
                .description Pathway of selected Transcription Factor

    #selected-regulons.ui.fluid.label
        label.ui.label#selected-label No Regulons Selected. Select any number of Regulons to view the Pathway Analysis.
        .right.floated.detail(style={"float": "right"}): a.ui.red.label#showModalButton Deselect All
        script.
            $("#showModalButton").hide();
    .ui.fluid.action.input
        input(type='text')#export-view-input
        .ui.right.labeled.icon.button#export-view-button
            i.bookmark.icon
            span Save view
    #graph-or-table
        .ui.pointing.two.item.secondary.menu
            a.item(data-tab="regulator-graph") Regulator Graph
            a.item(data-tab="regulon-table") Regulon Table
        .ui.tab(data-tab="regulator-graph")
            #directed-graph.ui.internally.celled.grid
                .four.wide.column#header
                    .ui.stackable.secondary.sidebar
                    sidebar.toggle()
                        include ../includes/global-filters
                        .item: .sidebarinput
                            label Show only selected Regulatory Effects: 
                            select(multiple="").ui.fluid.search.dropdown#regulatory-effect
                        .item: .sidebarinput
                            label Show only selected Evidence Values:
                            select(multiple="").ui.fluid.search.dropdown#evidence-values
                        <br> 
                        a.item(href="/regprecise/regulons?genomeId=334") View in REGPRECISE
                .twelve.wide.column#body: .ui.fluid.card.genome: .ui.basic.segment.main-graph
                    #dimmer.ui.inverted.dimmer
                        .ui.indeterminate.large.text.loader Loading Graph
                    include ../includes/go-term-filter
                    #graph
                .ui.hidden.message#noData No nodes within graph match selected filter options
        .ui.tab(data-tab="regulon-table")#table: .ui.segment
            table.ui.single.line.compact.sortable.selectable.table#regulonTable
                thead
                    tr
                        th Regulator name
                        th Function
                        th Evidence Type
                        th Evidence Codes
                tbody
    script.
        $("#graph-or-table .menu a.item").tab("change tab", "regulator-graph");
    .ui.tiny.modal#clearModal
        .ui.header
            div Clear Selected Nodes
        .content: p Would you like to clear all selected nodes?
        .actions
            .ui.positive.right.labeled.icon.button#clearButton
                div Yes
                i.checkmark.icon
            .ui.negative.button(onclick='$("#clearModal").modal("hide")'): div No
    .ui.tiny.modal#showLegendModal
        .ui.header
            div Icon Legend
        .content: p Regulon
            img.ui.small.centered.image(src='/img/Regulon.png')
    .ui.tiny.modal#invalidModal
        .ui.header
            div Invalid Filter Combination
        .content: p You cannot select the 'Show only self-regulated TFs' and 'Show only unregulated TFs' filter options at the same time. Your filter options have been reset.
        .actions
            .ui.negative.right.icon.button#ackButton
                div Acknowledge
