extends ../layout
block scripts
    script.
        network = !{JSON.stringify(network)};

    script(src="/js/regprecise/pathway/pathway.js" type="module")
    link(rel="stylesheet" href="/css/wagon-wheels.css")
    script(src="https://hammerjs.github.io/dist/hammer.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js")

block content
    .ui.four.steps
        a.step.completed(href="/regprecise/genomes")
            .content
                .title= network["selected-regulons"][0].genomeName
                .description Selected Genome
        a.step.completed(href=`/regprecise/regulons?genomeId=${network['selected-regulons'][0].genomeId}`)
            .content
                .title= network['selected-regulons'][0].regulatorFamily + ' / ' + network['selected-regulons'][0].regulatorName
                .description Selected Regulon
        a.step.active
            .content
                .title Pathway Analysis
                .description Pathway of selected Regulon
        a.step.disabled
            .content
                .title Regulog Graph
                .description Network of selected Regulon
    .ui.fluid.action.input#export-view-tabs
        input(type='text')#export-view-input
        .ui.right.labeled.icon.button(onclick="exportView()")#export-view-button
            i.bookmark.icon
            span Save view
    .ui.basic.segment
        #pathway-graph.ui.internally.celled.grid
            #header.four.wide.column
                .ui.stackable.secondary.sidebar
                sidebar.toggle()
                    include ../includes/global-filters
                    .item: .ui.toggle.checkbox.sidebarinput#remove-pathways
                        input(type="checkbox")
                        label Remove Pathways
                    script.
                        $("#pathway-graph #header #remove-pathways.checkbox").checkbox();
                        if (window.location.search && window.location.search.includes('removepathways=true')) {
                            $('#remove-pathways').checkbox('check');
                        }
                    .item: .sidebarinput#number-of-genomes
                        select(multiple="").ui.fluid.search.dropdown#genomes-selected
                            option(value="") Select genomes to compare from regprecise
                            each genome in network['regprecise-genomes']
                                option(value=genome.genomeId) #{genome.name}
                    if network['regulondb-genome']
                        .item: .ui.toggle.checkbox.sidebarinput#compare-regulondb
                            input(type="checkbox")
                            label Compare to RegulonDB
                        //- script.
                        //-     $("#compare-regulondb.checkbox").checkbox({
                        //-         onChange: function() {
                        //-             addRegulonDbGraph(this.checked);
                        //-         }
                        //-     });
                    .item: .sidebarinput#binary-compare
                        .menu: .ui.fluid.dropdown#compare-dropdown Binary Comparison
                            i.dropdown.icon
                            .fluid.menu
                                .fluid.item#btn-compare-and AND
                                .fluid.item#btn-compare-or OR
                                .fluid.item#btn-compare-xor XOR
                    script.
                        $("#pathway-graph #header #compare-dropdown").dropdown().hide();
                        if (window.location.search && window.location.search.includes('regulondb=true')) {
                            $('#compare-regulondb').checkbox('check');
                        }
            .twelve.wide.column: .ui.fluid.card.genome(id=`${network['selected-regulons'][0].genomeId}`): .ui.basic.segment.main-graph
                - var  pathwayLabel = network['selected-regulons'].map(sr => sr.regulatorName).join('<i class="long arrow alternate right icon"></i>')
                #pathway-label.ui.bottom.left.attached.label !{pathwayLabel}
                include ../includes/go-term-filter
                #body
                #dimmer.ui.inverted.dimmer
                    .ui.indeterminate.large.text.loader Loading Graph
    #alternate-genomes.ui.two.cards
    #comparison-modal.ui.fullscreen.modal
        i.close.icon
        .header 
            span Binary Comparison: 
            span#type
        .content
            #comparison-graph
            #comparison-dimmer.ui.inverted.dimmer
                .ui.indeterminate.large.text.loader Loading Graph
    .ui.tiny.modal#showLegendModal
        .ui.header
            div Icon Legend
        .content: p <b>Regulator</b>
            p These nodes represent the regulator gene controlling the expression of the target genes in the regulon. Click a regulator to view more detailed information.
            img.ui.tiny.centered.image(src='/img/Regulon.png')
        .content: p <b>Gene</b>
            p These nodes represent the target genes being controlled by the regulator in the regulon. Click a gene to view more detailed information.
            img.ui.tiny.centered.image(src='/img/gene.png')
        .content: p <b>Regulation Direction</b>
            p Arrows represent the direction of transcriptional regulation. You can toggle directional arrows using the slider in the left pane.
            img.ui.tiny.centered.image(src='/img/Arrow.png')
        .content: p <b>GO Term</b>
            p These filters represent the GO Term activity present in the regulon. Selecting a GO Term filter will allow you to view only that GO Term within the regulon.
            img.ui.small.centered.image(src='/img/go-term.png')
        .content: p <b>Explore TF Pathway</b>
            p This option allows you to expand the current graph to include any genes being regulated by the selected regulator.
            img.ui.small.centered.image(src='/img/explore-icon.png')